# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Chat Data
chat_history.json

# Environment Variables
.env
chatbot-ui/.env

# Node / Frontend
node_modules/
chatbot-ui/node_modules/
chatbot-ui/build/
.eslintcache

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
